---
title: Révision des analyses
description: "Découvrez comment utiliser l'analyse vidéo pour vérifier les performances et l'engagement de vos vidéos." 
parent: home
---
<h1>Révision d'Analytics</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
  <h2 id="Topics_in_this_section">Topics</h2>
    <section class="card-wrapper">
  {% for item in site.data.navigation %}
  {% if item.name == page.title %}
  {% for subsection in item.docs %}
  <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
    <div class="card-content">
      <h2>{{ subsection.name }}</h2>
      <ul  class="bcls-topic-list">
        {% for doc in subsection.docs %}
        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endfor %}
  {% endif %}
  {% endfor %}
</section>
</section> 
    </article> 