<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary>
<p> <style type="text/css">dt {font-weight: bold;}
dd { padding-bottom: 10px; }
</style>
</p>

<p>|<a href="#A"> -A-</a> |<a href="#B"> -B-</a> |<a href="#C"> -C-</a> |<a href="#D"> -D-</a> |<a href="#E"> -E-</a> | <a href="#F">-F-</a> |<a href="#G"> -G-</a> |<a href="#H"> -H-</a> |<a href="#I"> -I-</a> |<a href="#J"> -J-</a> | <a href="#K">-K-</a> |<a href="#L"> -L-</a> |<a href="#M"> -M-</a> |<a href="#N"> -N-</a> |<a href="#O"> -O-</a> | <a href="#P">-P-</a> |<a href="#Q"> -Q-</a> |<a href="#R"> -R-</a> |<a href="#S"> -S-</a> |<a href="#T"> -T-</a> | <a href="#U">-U-</a> |<a href="#V"> -V-</a> |<a href="#W"> -W-</a> |<a href="#X"> -X-</a> |<a href="#Y"> -Y-</a> | <a href="#Z">-Z-</a> |</p> <aside class="bcls-aside bcls-aside--information">Remarque: Pour obtenir la liste des éléments de données renvoyés par l'API<span translate="No"> Analytics</span> et lors de l'exportation des données d'analyse, consultez le Glossaire de l'API<a href="https://apis.support.brightcove.com/analytics/general/analytics-api-glossary.html"> Analytics</a>.</aside> <section class="bcls-section">
<h2 id="A">UN</h2>

<dl>
	<dt id="active_media">Médias actifs</dt>
	<dd>Le nombre de vidéos actives sur le compte. Notez que ces données ne sont pas en temps réel, elles sont synchronisées à partir de votre vidéothèque une fois par jour. Notez également que ces données peuvent ne pas être exactes si vous consultez des données d'analyse en temps réel-fr/ (datant de moins de 3 jours).</dd>
	<dt id="api">API Analytics</dt>
	<dd>Interface de programmation d'applications basée sur REST qui permet aux développeurs de récupérer les mesures d'analyse des vidéos Video Cloud directement au format JSON. L'API<span translate="No"> Analytics</span> fournit les données de l'interface utilisateur Analytics dans Video Cloud Studio.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="B">B</h2>

<dl>
	<dt id="totalbandwidth">Bande passante totale</dt>
	<dd>Bande passante totale utilisée pour diffuser des vidéos, des images et des charges de lecteurs. Notez que certaines parties des données de bande passante sont retardées, car elles proviennent de sources externes telles que des CDN. Normalement, les informations sont complètes dans les 48 heures, mais dans certains cas, la journée peut atteindre 5 jours.</dd>
	<dt id="browser_type">Type de navigateur</dt>
	<dd>Le type de navigateur. Les valeurs typiques sont les suivantes:
	<ul>
		<li>chrome</li>
		<li>safari</li>
		<li>firefox</li>
		<li>c'est-à-dire</li>
	</ul>
	</dd>
	<dt id="bytes_delivered">Octets livrés</dt>
	<dd>Les données totales, en octets, fournies aux spectateurs, y compris les données vidéo/audio (y compris les données mises en mémoire tampon, qu'elles aient été lues ou non), les affiches et les vignettes, et toutes les données associées au lecteur vidéo.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="C">C</h2>

<dl>
	<dt id="city">ville</dt>
	<dd>Ville où une vidéo a été visionnée.</dd>
	<dt id="country">Pays</dt>
	<dd>Nom court en anglais du pays où la vidéo a été visionnée. Respecte la<a href="http://en.wikipedia.org/wiki/ISO_3166"> norme ISO 3166</a>.</dd>
	<dt id="csv">CSV</dt>
	<dd>Valeurs séparées par des virgules. Les données Analytics peuvent être exportées dans ce format.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="D">D</h2>

<dl>
	<dt id="daily-unique-users">Utilisateurs uniques quotidiens</dt>
	<dd>Il s'agit du nombre estimé de spectateurs uniques qu'une vidéo a eu un jour donné. Ces données ne sont disponibles que des données rapprochées (après 3 jours), et uniquement au niveau du compte. Pour plus d'informations, voir API<a href="https://apis.support.brightcove.com/analytics/general/analytics-api-unique-users.html"> Analytics: Utilisateurs uniques</a>.</dd>
	<dt id="day">Journée</dt>
	<dd>Le jour du mois où la vidéo a été visionnée.</dd>
	<dt id="device">Appareil</dt>
	<dd>Combinaison du type d'<a href="#device_type"></a>appareil<a href="#device_os"> et du système d'exploitation de l'appareil</a> utilisé pour visionner une vidéo.</dd>
	<dt id="device_os">Système d'exploitation du périphérique</dt>
	<dd>Système d'exploitation de l'appareil utilisé sur l'appareil pour visionner une vidéo. Les valeurs possibles sont les suivantes:
	<ul>
		<li>Android</li>
		<li>Bada</li>
		<li>iOS</li>
		<li>Linux</li>
		<li>OS X</li>
		<li>RIM (Blackberry)</li>
		<li>Symbian</li>
		<li>Système d'exploitation Web</li>
		<li>Windows</li>
		<li>Autre - pour les agents utilisateurs qui ne sont mappés à aucun des éléments ci-dessus</li>
	</ul>
	</dd>
	<dt id="device_manufacterer">Fabricant d'appareils</dt>
	<dd>Le fabricant de l'appareil. Voici quelques valeurs typiques:
	<ul>
		<li>lenovo</li>
		<li>pomme</li>
		<li>sony</li>
		<li>microsoft</li>
	</ul>
	</dd>
	<dt id="device_type">Type d'appareil</dt>
	<dd>Type d'appareil utilisé pour visionner une vidéo. Les valeurs possibles sont les suivantes:
	<ul>
		<li>Ordinateur de bureau - comprend les ordinateurs de bureau et portables</li>
		<li>Tablette - inclut les iPads, les tablettes Android, etc.</li>
		<li>Mobile - téléphones portables</li>
		<li>Téléviseur connecté/console de jeux/appareil compagnon - comprend les téléviseurs intelligents, les décodeurs et les consoles de jeux</li>
		<li>Autre - pour les agents utilisateurs qui ne sont mappés à aucun des éléments ci-dessus</li>
	</ul>
	</dd>
	<dd>&nbsp;</dd>
	<dt id="dimension">Dimension</dt>
	<dd>Les dimensions sont des catégories de données analytiques sur lesquelles vous pouvez générer des rapports et des filtres. Les dimensions actuellement disponibles sont les suivantes:
	<ul>
		<li><a href="#player">Joueur</a></li>
		<li><a href="#video">Vidéo</a></li>
		<li><a href="#country">Pays</a></li>
		<li><a href="#day">Journée</a></li>
		<li><a href="#display_domain">Afficher le domaine</a></li>
		<li><a href="#device">Appareil</a></li>
		<li><a href="#device_type">Type d'appareil</a></li>
		<li><a href="#device_os">OS de l'appareil</a></li>
		<li><a href="#traffic_sources">Source du trafic</a></li>
	</ul>
	</dd>
	<dd>&nbsp;</dd>
	<dt id="display_domain">Afficher le domaine</dt>
	<dd>Domaine référent signalé par le client (navigateur ou autre).</dd>
	<dt id="display_url">URL d'affichage</dt>
	<dd>L'URL sur laquelle se trouvait le spectateur lorsqu'il a visionné une vidéo.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="E">E</h2>

<dl>
	<dt id="engagement_score">Score d'engagement</dt>
	<dd>Pourcentage moyen regardé par vidéo vue (calculé en additionnant tout le pourcentage regardé divisé par le nombre de vues de vidéos). Pour plus d'informations sur le mode de calcul, consultez<a href="/analytics/calculating-video-engagement-score.html"> Calcul du score d'engagement vidéo</a>.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="F">F</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="G">G</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="H">H</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="I">JE</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="J">J</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="K">K</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="L">L</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="M">M</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="N">N</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="O">O</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="P">P</h2>

<dl>
	<dt id="play_rate">Taux de jeu</dt>
	<dd>Le taux de lecteur est le nombre de fois qu'une vidéo a été lue (video_view) divisé par le nombre de possibilités de lecteur (video_impression).</dd>
	<dt id="play_request">Demande de jeu</dt>
	<dd>Une demande de lecteur est comptée chaque fois que l'on clique sur le bouton de lecteur.</dd>
	<dt id="player">Joueur</dt>
	<dd>ID du lecteur Video Cloud.</dd>
	<dt id="player_load">Charge du lecteur
</dt>
	<dd>Nombre de fois où un lecteur
 a été chargé.</dd>
	<dt id="player_name">Nom du lecteur
</dt>
	<dd>Nom du lecteur Video Cloud.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="Q">Q</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="R">R</h2>

<dl>
	<dt id="region">Région</dt>
	<dd>Nom de la province ou de l'État où la vidéo a été visionnée. Respecte la<a href="http://en.wikipedia.org/wiki/ISO_3166"> norme ISO 3166</a>.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="S">S</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="T">T</h2>

<dl>
	<dt id="traffic_sources">Sources de trafic</dt>
	<dd>Une indication de la manière dont le spectateur a accédé à la page du lecteur. Les valeurs possibles sont les suivantes:
	<ul>
		<li>Parrainage - L'utilisateur a suivi un lien vers la vidéo</li>
		<li>Direct - L'utilisateur a tapé le lien directement, utilisé un signet ou utilisé un lien provenant d'un e-mail</li>
		<li>Recherche organique - L'utilisateur a effectué une recherche et a cliqué sur un résultat pour accéder à la vidéo</li>
		<li>Recherche payante - L'utilisateur a effectué une recherche et a cliqué sur un résultat payant pour accéder à la vidéo</li>
		<li>Recherche sécurisée - L'utilisateur s'est connecté avec un compte Google, a effectué une recherche et a cliqué sur un résultat (payant ou organique&nbsp;; les informations de recherche ne sont pas incluses dans ce cas)</li>
	</ul>
	</dd>
</dl>  </section><section class="bcls-section">
<h2 id="U">U</h2>

<dl>
	<dt id="unique-users">Utilisateurs uniques</dt>
	<dd>Voir les utilisateurs uniques<a href="#daily-unique-users"> quotidiens</a></dd>
</dl>  </section><section class="bcls-section">
<h2 id="V">V</h2>

<dl>
	<dt id="video">Vidéo</dt>
	<dd>ID Video Cloud de la vidéo.</dd>
	<dt id="videobandwidth">Bande passante vidéo</dt>
	<dd>Bande passante totale utilisée uniquement pour diffuser des vidéos.</dd>
	<dt id="video_duration">Durée de la vidéo</dt>
	<dd>Durée de la vidéo en secondes.</dd>
	<dt id="video_engagement">Engagement vidéo</dt>
	<dd>Mesure du pourcentage moyen regardé par vidéo visionnée (calculé en additionnant tout le pourcentage regardé divisé par le nombre de vues de vidéos). Pour plus d'informations sur le mode de calcul, consultez<a href="/analytics/calculating-video-engagement-score.html"> Calcul du score d'engagement vidéo</a>.</dd>
	<dt id="video_name">Nom de la vidéo</dt>
	<dd>Nom de la vidéo.</dd>
	<dt id="video_view">Vues vidéo</dt>
	<dd>Le nombre de fois qu'une vidéo a commencé à être lue, enregistré au démarrage du flux (n'inclut pas le retour en arrière ou la rediffusion). Il ne s'agit pas d'une mesure des spectateurs individuels.</dd>
	<dt id="video_view">Minutes consultées</dt>
	<dd>Le nombre total de minutes pendant lesquelles une vidéo a été visionnée</dd>
	<dt id="video_engagement_1">Vues à 1&nbsp;%</dt>
	<dd>Le nombre de vues enregistrées au point 1&nbsp;% de la vidéo.</dd>
	<dt id="video_engagement_25">Vues à 25&nbsp;%</dt>
	<dd>Le nombre de vues enregistrées au point de 25&nbsp;% de la vidéo.</dd>
	<dt id="video_engagement_50">Vues à 50&nbsp;%</dt>
	<dd>Le nombre de vues enregistrées au point de 50&nbsp;% de la vidéo.</dd>
	<dt id="video_engagement_75">Vues à 75&nbsp;%</dt>
	<dd>Le nombre de vues enregistrées aux 75&nbsp;% de la vidéo.</dd>
	<dt id="video_engagement_100">Vues à 100&nbsp;%</dt>
	<dd>Le nombre de vues enregistrées au point 100&nbsp;% de la vidéo.</dd>
	<dt id="video_impression">Impression vidéo</dt>
	<dd>Le nombre de fois qu'une vidéo a été chargée dans un lecteur et prête pour l'interaction.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="W">W</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="X">X</h2>

<dl>
	<dt id="xlsx">XLSX</dt>
	<dd>Fichier Microsoft Excel. Les données Analytics peuvent être exportées dans ce format.</dd>
</dl>  </section><section class="bcls-section">
<h2 id="Y">Y</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>  </section><section class="bcls-section">
<h2 id="Z">Z</h2>

<dl>
	<dt id="">&nbsp;</dt>
	<dd>&nbsp;</dd>
</dl>   </section></article>