<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section">
    <p>Le module Analytics {{site.product_short}} fournit les rapports suivants:</p>
    <ul>
      <li><a href="#performance">Performance</a></li>
      <li><a href="#engagement">Engagement</a></li>
      <li><a href="#trending">Tendance maintenant</a></li>
      <li><a href="#custom">Personnalisée</a></li>
    </ul>
    <p>Un résumé de chacun de ces rapports est décrit dans les sections suivantes.</p>  </section><section class="bcls-section">
    <h2 id="performance">Rapport de performance</h2>
    <p>Le rapport de performance indique les performances des vidéos de votre compte, y compris les vues des vidéos, les impressions des vidéos, le taux de lecteur, les minutes visionnées et le score d'engagement. Le rapport de performance permet de segmenter les données en dimensions:</p>
    <ul>
      <li><strong>Vidéo</strong>: affiche les mesures de performance sur les vidéos</li>
      <li><strong>Player</strong>: affiche les mesures de performance des lecteur
s</li>
      <li><strong>Source du trafic</strong>: affiche les mesures de performance basées sur la source du trafic</li>
      <li><strong>Domaine d'affichage</strong>: affiche les mesures de performance basées sur le domaine sur lequel se trouvait le spectateur lorsqu'une vidéo a été visionnée&nbsp;; si le lecteur se trouve dans une iframe, le domaine d'affichage sera enregistré en tant qu'URL de la page dans l'iframe. (Cela correspond à la<a href="https://apis.support.brightcove.com/analytics/dimension-guides/dimension-destinationdomain.html"><code translate="No"> dimension</code> destination_domain</a> de l'API Analytics.)</li>
      <li><strong>Pays</strong>: affiche les statistiques de performance basées sur le pays dans lequel la vidéo a été visionnée</li>
      <li><strong>Appareil</strong>: affiche les mesures de performance pour chaque combinaison Device Type - Device Operating System qui a été utilisée pour visionner une vidéo</li>
      <li><strong>Type d'appareil</strong>: affiche les mesures de performance par type d'appareil</li>
      <li><strong>Système d'exploitation de l'appareil</strong>: affiche les mesures de performance par système d'exploitation</li>
      <li><strong>Device Manufacturer</strong> - Affiche les mesures de performance par fabricant de l'appareil</li>
      <li><strong>Type de navigateur</strong>: affiche les mesures de performance par type de navigateur</li>
      <li><strong>Day</strong>: affiche les mesures de performance en fonction du jour</li>
    </ul> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Rapport de performance" src="/assets/images/s-analytics-img/node10104-account-performance.png" /></figure>
    <p>Pour obtenir des informations détaillées sur le rapport de performance, consultez la référence du rapport de<a href="/analytics/performance-report-reference.html"> performance</a>.</p>  </section><section class="bcls-section">
    <h2 id="engagement">Rapport d'engagement</h2>
    <p>Le rapport d'engagement montre l'engagement pour les vidéos de votre compte. Cela inclut un score d'engagement et le nombre de vues aux points de 1&nbsp;%, 25&nbsp;%, 50&nbsp;%, 75&nbsp;% et 100&nbsp;% de la vidéo. Le rapport d'engagement permet de segmenter les données en dimensions:</p>
    <ul>
      <li><strong>Vidéo</strong>: affiche les mesures d'engagement sur les vidéos</li>
      <li><strong>Player</strong>: affiche les mesures d'engagement des lecteur
s</li>
      <li><strong>Day</strong>: affiche les mesures d'engagement par jour</li>
    </ul> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Rapport d'engagement" src="/assets/images/s-analytics-img/node10105-engagement-report.png" /></figure>
    <p>Pour plus d'informations sur le rapport Engagement, consultez la référence du rapport d'<a href="/analytics/engagement-report-reference.html">engagement</a>.</p>  </section><section class="bcls-section">
    <h2 id="trending">Rapport Trending Now</h2>
    <p>Le rapport Trending Now affichera un graphique montrant le nombre de spectateurs simultanés au cours de la dernière heure. Le rapport Trending Now peut être utilisé pour afficher les données de la VOD, des vidéos en direct ou des deux types de vidéos.</p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Rapport d'engagement" src="/assets/images/s-analytics-img/node4233-trending-now.png" /></figure>
    <p>Pour obtenir des informations détaillées sur le rapport Tendance actuelle, reportez-vous au document de référence du rapport<a href="/analytics/trending-now-report-reference.html"> Tendance actuelle</a>.</p>  </section><section class="bcls-section">
    <h2 id="custom">Rapports personnalisés</h2>
    <p>Le module Analytics peut être utilisé pour générer des rapports d'analyse ad hoc personnalisés qui peuvent être téléchargés au format de valeurs séparées par des virgules (.csv) ou Microsoft Excel (.xlsx).</p> <aside class="bcls-aside bcls-aside--information">Remarque: Les rapports personnalisés sont disponibles pour les éditeurs Enterprise et Pro.</aside> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Générateur de rapports personnalisés" src="/assets/images/s-analytics-img/node14608-report-builder-ui.png" /></figure>
    <p>Pour plus d'informations sur la création de rapports personnalisés, reportez-vous à la section<a href="/analytics/creating-custom-analytics-reports.html"> Création de rapports Analytics personnalisés dans le module Analytics</a>.</p>  </section><section class="bcls-section">
    <h2 id="export">Exportation des données de</h2>
    <p>Les données du rapport peuvent être téléchargées sous forme de valeurs séparées par des virgules et de formats Excel.</p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Exporter des données" src="/assets/images/s-analytics-img/node4233-export-data.png" /></figure>   </section></article>