<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="Introduction">Présentation</h2>
    <p>Le tableau de la section suivante répertorie les dimensions personnalisées et les mesures personnalisées uniques utilisées par Brightcove {{site.product_short}} dans Google Analytics. Ils sont ajoutés à votre compte Google Analytics par Brightcove, ou vous pouvez le faire vous-même en suivant les étapes du<a href="/analytics/ga-self-configuration.html"> document</a> Google Analytics Self Configuration. Notez ce qui suit pour les dimensions et mesures personnalisées:</p>
    <ul>
      <li>Applicable à toutes les plateformes</li>
      <li>Le reporting est effectué sur les éléments prioritaires répertoriés dans la dernière colonne</li>
      <li>Veuillez noter qu'il existe un maximum de 20 dimensions personnalisées pour les comptes Google Analytics GRATUITS et de 20 mesures personnalisées</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="Metrics_and_dimensions">Mesures et dimensions personnalisées</h2>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th>Description</th>
          <th>Dimension personnalisée</th>
          <th>Métrique personnalisée</th>
          <th>Dimension</th>
          <th>Métrique</th>
          <th>Utilisation des événements et des filtres</th>
          <th>Priorité</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td>Jouez à des événements par ville</td>
          <td></td>
          <td></td>
          <td>Ville/ville</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Répartition géographique</td>
          <td></td>
          <td></td>
          <td>Ville/ville</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Jouez des événements par année de production</td>
          <td>Année de production</td>
          <td></td>
          <td></td>
          <td></td>
          <td>Y</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Événements ludiques par pays d'origine (production)</td>
          <td>Pays d'origine</td>
          <td></td>
          <td></td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Meilleurs films</td>
          <td></td>
          <td></td>
          <td>Action de l'événement</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Série Top</td>
          <td></td>
          <td></td>
          <td>Action de l'événement</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Top chaînes</td>
          <td></td>
          <td></td>
          <td>Action de l'événement</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Durée de visionnage du film</td>
          <td></td>
          <td>Heure surveillée</td>
          <td>Action de l'événement</td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Temps de visionnage par épisodes</td>
          <td>
            Numéro de saison/ <br /> Numéro de l'épisode
          </td>
          <td>Heure surveillée</td>
          <td>Action de l'événement</td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Temps de visionnage par série</td>
          <td></td>
          <td>Heure surveillée</td>
          <td>Action de l'événement</td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Durée de visionnage par chaîne</td>
          <td></td>
          <td>Heure surveillée</td>
          <td>Action de l'événement</td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Durée de visionnage par genre de film</td>
          <td>Genre</td>
          <td>Heure surveillée</td>
          <td></td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Durée de visionnage par genre de série</td>
          <td>Genre</td>
          <td>Heure surveillée</td>
          <td></td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Durée de visionnage par genre de chaînes</td>
          <td>Genre</td>
          <td>Heure surveillée</td>
          <td></td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Films regardés par compte</td>
          <td>Jeton de compte (GDPR)</td>
          <td>Heure surveillée</td>
          <td></td>
          <td></td>
          <td>Y</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Séries regardées par compte</td>
          <td>Jeton de compte (GDPR)</td>
          <td>Heure surveillée</td>
          <td></td>
          <td></td>
          <td>Y</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Chaînes regardées par compte</td>
          <td>Jeton de compte (GDPR)</td>
          <td>Heure surveillée</td>
          <td></td>
          <td></td>
          <td>Y</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Consolidation de la VOD pendant la semaine - films</td>
          <td></td>
          <td>Heure surveillée</td>
          <td>Nom du jour de la semaine</td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Consolidation de la VOD pendant la semaine - série</td>
          <td></td>
          <td>Heure surveillée</td>
          <td>Nom du jour de la semaine</td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Consolidation de la VOD pendant la semaine - chaînes</td>
          <td></td>
          <td>Heure surveillée</td>
          <td>Nom du jour de la semaine</td>
          <td></td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Mots-clés les plus recherchés</td>
          <td></td>
          <td></td>
          <td>Action de l'événement</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Titres les mieux notés</td>
          <td></td>
          <td></td>
          <td>Action de l'événement</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Choisissez l'heure de la VOD</td>
          <td></td>
          <td></td>
          <td>Heure</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Choisissez l'heure des chaînes en direct</td>
          <td></td>
          <td></td>
          <td>Heure</td>
          <td>Nombre total d'événements</td>
          <td>Y</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Nombre d'utilisateurs par pays/ville</td>
          <td></td>
          <td></td>
          <td>Pays OU ville</td>
          <td>Utilisateurs</td>
          <td>N</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Utilisateurs par type (liés à l'abonnement)</td>
          <td>Type d'utilisateur (par exemple visiteur, utilisateur gratuit, essai, abonné)</td>
          <td></td>
          <td></td>
          <td>Utilisateurs</td>
          <td>N</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Utilisateurs par plateforme</td>
          <td>Plateforme</td>
          <td>Utilisateurs</td>
          <td></td>
          <td></td>
          <td>N</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>  </section></article>