<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="46%" scope="col">
            <h2>Apple Store</h2>
            <p>Plateforme: iOS/tvOS</p>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="53%" scope="col">
            <h2>Google Play Store</h2>
            <p>Plateforme: Android/Android TV</p>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul>
              <li><a href="https://developer.apple.com/app-store-connect/analytics/" target="_blank">Obtenez des informations grâce à Analytics</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul>
              <li><a href="https://support.google.com/googleplay/android-developer/answer/139628?hl=en&co=GENIE.Platform%3DDesktop" target="_blank">Afficher les statistiques des applications</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>  </section><section class="bcls-section">
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="46%" scope="col">
            <h2>PAI Amazon</h2>
            <p>Plateforme: Amazon Fire TV</p>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="53%" scope="col">
            <h2>Roku</h2>
            <p>Plateforme: Roku</p>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul>
              <li><a href="https://developer.roku.com/en-gb/docs/features/analytics/analytics-reports.md" target="_blank">Vue d'ensemble - Analytics</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul>
              <li><a href="https://developer.amazon.com/docs/reports-promo/UI-reports-dashboard.html" target="_blank">Présentation des rapports</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>  </section></article>