<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section">
    <p>Les utilisateurs de Studio peuvent utiliser la page Informations sur le profil pour afficher et modifier leurs propres informations de compte personnelles.</p>
    <p>Pour accéder à la page Informations sur le profil:</p>
    <ol class="bcls-tasklist-restart">
      <li>Connectez-vous à {{site.product}}.</li>
      <li>Dans la partie droite de l'en-tête de navigation, cliquez sur l'icône de profil, puis sur le<strong> lien</strong> Mon profil. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Lien d'information du profil" src="/assets/images/s-admin-img/node15474-my-profile.png" /></figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Editing_profile_information">Modification des informations de profil</h2>
    <p>Tous les champs de la section Informations sur le profil peuvent être modifiés. Cliquez sur<strong> Enregistrer les modifications</strong> pour enregistrer les modifications.</p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-admin-img/node15474-edit-profile.png" /></figure>
    <p>Remarques sur le montage:</p>
    <ul>
      <li>Vous ne pouvez pas modifier votre adresse e-mail. Si vous devez modifier votre adresse e-mail, vous devez créer un compte avec la bonne adresse. L'administrateur de compte principal peut le faire.</li>
      <li>Vous pouvez modifier votre mot de passe, mais vous devez vérifier votre mot de passe actuel</li>
      <li>Les mots de passe ne doivent pas contenir plus de 8 lettres et contenir au moins un chiffre et une lettre</li>
      <li>Le fuseau horaire que vous définissez ici est utilisé lorsque vous planifiez la date et l'heure d'activation d'une vidéo. Vous pouvez planifier la date de début et de fin d'activation d'une vidéo en accédant au<strong> module</strong> Médias de Studio, en sélectionnant les détails d'une vidéo, puis en modifiant la<a href="/media/editing-video-properties-using-media-module.html#availability"> section</a> Disponibilité.</li>
      <li>Vous pouvez utiliser la liste déroulante Langue pour sélectionner la langue de Studio:
        <ul>
          <li>Anglais</li>
          <li>Espagnol (Espagne)</li>
          <li>japonais</li>
          <li>Français (France)</li>
          <li>Chinois (traditionnel)</li>
          <li>coréen</li>
        </ul>
      </li>
    </ul> <aside class="bcls-aside bcls-aside--information">Remarque: Si vous êtes administrateur, vous pouvez utiliser la<a href="/admin/managing-users.html"> page</a> Gestion des utilisateurs de Studio pour modifier le mot de passe et le rôle d'un utilisateur.</aside> </section> </article> 