<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="introduction">Présentation</h2>
    <p>Lorsque vous créez une demande d'ingestion dynamique à l'aide de l'API<span translate="No"> Dynamic Ingest</span> ou que vous chargez des vidéos à l'aide du module Upload, vous devez fournir un profil qui détermine le nombre et le type de rendus créés par le processus d'ingestion {{site.product_short}}. Cette rubrique fournit des informations détaillées sur chacun des<strong> profils</strong> Dynamic Delivery<strong> et</strong> Context Aware Encoding (CAE), y compris<strong> HEVC (h.265)</strong> profils.</p> <aside class="bcls-aside bcls-aside--information">Remarques:
      <ul>
        <li>Le codage sensible au contexte et le codage HEVC sont des modules complémentaires payants de {{site.product_short}}. Si vous souhaitez ajouter ces fonctionnalités à votre compte, contactez votre responsable de compte.</li>
      </ul> </aside>

    <p>Pour une présentation de Dynamic Delivery, consultez la section<a href="https://apis.support.brightcove.com/dynamic-ingest/getting-started/overview-dynamic-delivery.html"> Présentation de Dynamic Delivery</a>.</p>
    <p>Pour une vue d'ensemble du codage sensible au contexte, reportez-vous à la section<a href="https://apis.support.brightcove.com/general/overview-context-aware-encoding.html"> Présentation du codage sensible au contexte</a>.</p>
    <p>Pour une vue d'ensemble du HEVC, voir la vidéo<a href="https://apis.support.brightcove.com/ingest-profiles/guides/hevc-video.html"> HEVC</a></p>
    <p>Remarques:</p>
    <ul>
      <li>Ce document présente les profils pour Dynamic Delivery et Context Aware Encoding standard, y compris les profils HEVC</li>
      <li>En raison des différentes manières dont fonctionnent les profils de diffusion dynamique statique et de codage sensible au contexte, vous verrez différentes informations dans les détails de profil ci-dessous:
        <ul>
          <li>Pour les profils de livraison dynamique statiques, une liste des formats associés inclus s'affiche</li>
          <li>Pour les profils de codage sensible au contexte, un tableau des paramètres de profil dynamique utilisés pour déterminer les rendus à produire est affiché</li>
        </ul>
      </li>
    </ul>
    <p>Il est également possible de créer vos propres profils d'acquisition personnalisés. Pour plus d'informations, consultez la rubrique appropriée:</p>
    <ul>
      <li><a href="/admin/creating-ingest-profiles-dynamic-delivery.html">Création de profils d'ingestion pour une diffusion dynamique</a></li>
      <li><a href="/admin/creating-ingest-profiles-context-aware-encoding.html">Création de profils d'ingestion pour le codage sensible au contexte</a></li>
    </ul>  </section><section class="bcls-section">
    <h2 id="Renditions">Rendus</h2>
    <p>Pour plus de détails sur tous les formats associés par défaut disponibles que vous pouvez utiliser dans vos profils d'acquisition, consultez les tableaux ci-dessous.</p> <aside class="bcls-aside bcls-aside--information">Remarques:
      <ol>
        <li>Ce sont tous les rendus disponibles pour une utilisation dans les profils de livraison dynamique. Certains d'entre eux peuvent ne pas être utilisés actuellement dans les profils standard.</li>
        <li>La durée du fragment et la longueur du segment que vous voyez dans le tableau ne reflètent pas les longueurs de segment réelles qui sont livrées. Dynamic Delivery peut fournir des segments de différentes longueurs en fonction des conditions d'une session de lecteur particulière. Par défaut, des segments de 10 secondes sont fournis pour HLS et des segments de 6 secondes pour DASH. Consultez cette<a href="#note1-2"> note ci-dessous</a> pour une explication plus complète des fragments et des segments.</li>
      </ol>  </aside><section class="bcls-subsection" id="Audio_renditions">
      <h3>Rendus audio</h3>
      <h4>Rendus audio segmentés</h4>
      <div style="overflow-x: scroll;">
        <table class="bcls-table">
          <caption class="bcls-caption--table">
            Rendus audio segmentés
          </caption>
          <thead class="bcls-table__head">
            <tr>
              <th>Nom<sup><strong><a href="#note1-1"> [1-1]</a></strong></sup></th>
              <th>Débit binaire audio (Kbits/s)</th>
              <th>Canaux audio</th>
              <th>Codec audio</th>
              <th>Fréquence d'images clés forcée</th>
              <th>Durée du fragment (ms)</th>
              <th>Échelle de temps de la piste</th>
              <th>Longueur du segment (sec)</th>
            </tr>
          </thead>
          <tbody class="bcls-table__body" id="audioTableBody">
          </tbody>
      </table>
          </div>
      <h5>Remarques</h5>
      <ul style="list-style-type:none">
        <li id="note1-1"><sup><strong>[1-1]</strong></sup> Lorsque vous faites référence à un format associé dans un profil d'acquisition,<strong> veillez à préfixer le nom par<code translate="No"> default/</code></strong> - par exemple:<code translate="No"> default/audio128</code></li>
        <li id="note1-2"><sup><strong>[1-2]</strong></sup> Un segment est en corrélation avec un fichier téléchargeable. Par exemple, avec HLS, vous pouvez segmenter le fichier toutes les 6 secondes. Chaque segment contient suffisamment d'informations pour pouvoir être décodé et lu indépendamment des autres segments. Un manifeste HLS répertorie chaque chemin de segment et sa durée.
          <p>Un fragment fait référence aux fragments d'un fichier MP4. Un MP4 non fragmenté contient des métadonnées au début ou à la fin du fichier et nécessite que les données (<code translate="No">atomes</code> FTYP<code translate="No">,</code> MOOV) soient décodées avant le support (<code translate="No">MDAT) </code> atome). Pour faciliter la diffusion en continu, un fichier MP4 peut être fragmenté de sorte que les métadonnées nécessaires à la lecteur ainsi que le contenu multimédia soient fragmentés en fragments dans le fichier. Cela permet aux lecteurs de rechercher facilement des morceaux de médias spécifiques et de permettre des transitions fluides entre les différents rendus. Fragmenting a été initialement créé pour DASH mais est désormais également pris en charge par HLS.</p>
          <p>Vous pouvez également fragmenter et tiret des médias de telle sorte qu'un segment (fichier) puisse contenir plusieurs fragments. Il est courant de faire en sorte que la durée du segment et celle du fragment soient identiques. Notez que<code translate="No"> la durée</code> et la<code translate="No"> durée</code> se réfèrent à la même chose lorsque l'on parle de fragments et de segments.</p>
        </li>
      </ul>
      <h4>Rendus audio progressifs</h4>
      <div style="overflow-x: scroll;">
        <table class="bcls-table">
          <caption class="bcls-caption--table">
            Rendus audio progressifs
          </caption>
          <thead class="bcls-table__head">
            <tr>
              <th>Nom<sup><strong><a href="#note2-1"> [2-1]</a></strong></sup></th>
              <th>Débit binaire audio (Kbits/s)</th>
              <th>Canaux audio</th>
              <th>Codec audio</th>
              <th>Profil AAC forcé</th>
              <th>Passer la vidéo</th>
            </tr>
          </thead>
          <tbody class="bcls-table__body" id="progressiveAudioTableBody">
          </tbody>
        </table>
      </div>
      <h5>Remarques</h5>
      <ul style="list-style-type:none">
        <li id="note2-1"><sup><strong>[2-1]</strong></sup> Lorsque vous faites référence à un format associé dans un profil d'acquisition,<strong> veillez à préfixer le nom par<code translate="No"> default/</code></strong> - par exemple:<code translate="No"> default/audio128</code></li>
      </ul>  </section><section class="bcls-subsection">
      <h3 id="video_renditions">Rendus vidéo</h3>
      <h4>Rendus vidéo de diffusion dynamique</h4>
      <div style="overflow-x: scroll;">
        <table class="bcls-table">
          <caption class="bcls-caption--table">
            Rendus vidéo
          </caption>
          <thead class="bcls-table__head">
            <tr>
              <th>Nom<sup><strong><a href="#note3-2"> [3-2]</a></strong></sup></th>
              <th>Débit binaire (Kbits/s)</th>
              <th>Hauteur<sup><strong><a href="#note3-1"> [3-1]</a></strong></sup> (px)</th>
              <th>Mode Aspect</th>
              <th>Décodeur Bitrate Cap</th>
              <th>Taille du tampon du décodeur</th>
              <th>Fréquence d'images clés forcée</th>
              <th>Durée du fragment (ms)</th>
              <th>Cadres B H.264</th>
              <th>Profil H.264</th>
              <th>Longueur du segment (sec)</th>
              <th>Vitesse</th>
              <th>Codec vidéo</th>
            </tr>
          </thead>
          <tbody class="bcls-table__body" id="videoRenditionsTableBody">
          </tbody>
        </table>
      </div>
      <h5>Remarques</h5>
      <ul style="list-style-type:none">
        <li id="note3-1"><sup><strong>[3-1]</strong></sup> La largeur des rendus de sortie dépend du rapport hauteur/largeur de la source d'entrée</li>
        <li id="note3-2"><sup><strong>[3-2]</strong></sup> Lorsque vous faites référence à un rendu dans un profil d'acquisition,<strong> veillez à préfixer le nom par<code translate="No"> default/</code></strong> - par exemple:<code translate="No"> default/video2000</code></li>
      </ul>
      <h4>Rendus vidéo HEVC<sup><strong></strong><a href="#note4-1"> [4-1]</a></strong></h4>
        <div style="overflow-x: scroll;">
          <table class="bcls-table">
            <caption class="bcls-caption--table">
              Rendus vidéo HEVC<sup><strong></strong><a href="#note4-4"> [4-4]</a></strong></sup>
            </caption>
            <thead class="bcls-table__head">
              <tr>
                <th>Nom<sup><strong><a href="#note4-3"> [4-3]</a></strong></sup></th>
                <th>Débit binaire (Kbits/s)</th>
                <th>Hauteur<sup><strong><a href="#note4-2"> [4-2]</a></strong></sup> (px)</th>
                <th>Mode Aspect</th>
                <th>Décodeur Bitrate Cap</th>
                <th>Taille du tampon du décodeur</th>
                <th>Fréquence d'images clés</th>
                <th>Durée du fragment (ms)</th>
                <th>Vitesse</th>
                <th>Codec vidéo</th>
              </tr>
            </thead>
            <tbody class="bcls-table__body" id="hevcTableBody">
            </tbody>
          </table>
        </div>
      <h5>Remarques</h5>
      <ul style="list-style-type:none">
        <li id="note4-1"><sup><strong>[4-1]</strong></sup> Le support HEVC est un module complémentaire payant. Contactez votre Account Manager si vous êtes intéressé par le support HEVC</li>
        <li id="note4-2"><sup><strong>[4-2] La</strong></sup> largeur est également incluse pour les formats 16:9, mais la largeur réelle des rendus de sortie dépend du rapport hauteur/largeur de la source d'entrée</li>
        <li id="note4-3"><sup><strong>[4-3]</strong></sup> Lorsque vous faites référence à un rendu dans un profil d'acquisition,<strong> veillez à préfixer le nom par<code translate="No"> default/</code></strong> - par exemple:<code translate="No"> default/video2000</code></li>
        <li id="note4-4"><sup><strong>[4-4]</strong></sup> Outre ceux présentés dans le tableau, les rendus HEVC ont les propriétés suivantes:
          <ul>
            <li><code translate="No">fixed_keyframe_interval: vrai</code></li>
            <li><code translate="No">segment_seconds: 2</code></li>
            <li><code translate="No">video_bframes: 3</code></li>
            <li><code translate="No">video_codec_profile: principal</code></li>
            <li><code translate="No">video_reference_frames: 6</code></li>
          </ul>
        </li>
      </ul>
      <h4>Rendus vidéo progressifs</h4>
      <div style="overflow-x: scroll;">
        <table class="bcls-table">
          <caption class="bcls-caption--table">
            Rendus progressifs
          </caption>
          <thead class="bcls-table__head">
            <tr>
              <th>Nom<sup><strong><a href="#note5-2"> [5-2]</a></strong></sup></th>
              <th>Débit binaire vidéo (Kbits/s)</th>
              <th>Débit binaire audio (Kbits/s)</th>
              <th>Hauteur<sup><strong><a href="#note5-1"> [5-1]</a></strong></sup> (px)</th>
              <th>Décodeur Bitrate Cap</th>
              <th>Taille du tampon du décodeur</th>
              <th>Profil H.264</th>
            </tr>
          </thead>
          <tbody class="bcls-table__body" id="progressiveTableBody">
          </tbody>
        </table>
      </div>
      <h5>Remarques</h5>
      <ul style="list-style-type:none">
        <li id="note5-0"><sup><strong>[5-0]</strong></sup> Outre les propriétés affichées ci-dessus, tous les rendus progressifs ont les paramètres suivants:
          <ul>
            <li>Mode d'aspect: Préserver</li>
            <li>Vitesse: 3</li>
            <li>Codec vidéo: h264</li>
            <li>Haut de gamme: false</li>
            <li>Codec audio: AAC</li>
            <li>Profil AAC: aac-lc</li>
          </ul>
        </li>
        <li id="note5-1"><sup><strong>[5-1]</strong></sup> La largeur des rendus de sortie dépend du rapport hauteur/largeur de la source d'entrée</li>
        <li id="note5-2"><sup><strong>[5-2]</strong></sup> Lorsque vous faites référence à un format associé dans un profil d'acquisition,<strong> veillez à préfixer le nom par<code translate="No"> default/</code></strong> - par exemple:<code translate="No"> default/progressive1200</code></li>
      </ul>
      <p>Si vous avez besoin de rendus avec des débits binaires ou des résolutions autres que ceux présentés dans les tableaux ci-dessus, veuillez<a href="https://supportportal.brightcove.com"> contacter le support Brightcove</a>.</p>   </section></section><section class="bcls-section" id="Document_data">
    <h2 id="profiles">Profils</h2> <aside class="bcls-aside bcls-aside--information">Remarques:
      <ul>
        <li>Les profils standard peuvent être dupliqués, mais<strong> pas</strong> modifiés. Si vous souhaitez une version modifiée, vous devrez créer un profil personnalisé.</li>
      </ul>   </aside></section><section class="bcls-section">
    <h2 id="Summary_Table">Résumé des profils d'ingestion</h2>
    <p>Les tableaux ci-dessous proposent un résumé rapide des profils standard pour la diffusion dynamique statique et les profils de codage sensibles au contexte. Cliquez sur le nom d'un profil pour voir les détails des rendus qu'il inclut. Notez que les rendus réels créés dépendent de la qualité de la vidéo source.</p>
    <h3>Profils de diffusion dynamiques statiques</h3>
    <div style="overflow-x: scroll;">
      <table class="bcls-table">
        <caption class="bcls-caption--table">Profils de diffusion dynamiques statiques</caption>
        <thead class="bcls-table__head">
          <tr>
            <th>Nom</th>
            <th>Vidéo<br>Rendus</th>
            <th>Audio<br>Rendus</th>
            <th>HEVC</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="bcls-table__body" id="dd_profile_summary">
          <tr>
            <td><a href="#multi-platform-standard-static">Standard multiplateforme</a></td>
            <td>6</td>
            <td>3</td>
            <td>non</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-standard-static-with-mp4">Standard multiplateforme avec MP4</a></td>
            <td>7</td>
            <td>3</td>
            <td>non</td>
            <td>Diffusez un large éventail de types de contenu sur une variété de plateformes sur mobile, ordinateur de bureau et de syndication</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-extended-static">Multiplateforme Extended</a></td>
            <td>7</td>
            <td>4</td>
            <td>non</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-extended-static-with-mp4">Multiplatform Extended avec MP4</a></td>
            <td>8</td>
            <td>4</td>
            <td>non</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-extended-static-hevc">HEVC étendu multiplateforme</a></td>
            <td>6</td>
            <td>2</td>
            <td>HEVC uniquement</td>
            <td>fournir du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et de grande taille</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-extended-static-hevc-with-mp4">HEVC étendu multiplateforme avec MP4</a></td>
            <td>7</td>
            <td>2</td>
            <td>HEVC + progressif</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les appareils mobiles, les ordinateurs de bureau, les grands écrans et</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-extended-static-mixed-codec">H.264 statique étendu multiplateforme +HEVC</a></td>
            <td>14</td>
            <td>2</td>
            <td>HEVC + H.264</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-extended-static-mixed-codec-with-mp4">H.264 statique étendu multiplateforme +HEVC avec MP4</a></td>
            <td>15</td>
            <td>2</td>
            <td>HEVC, H.264, progressif</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et de grande taille, ainsi que</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3>Profils d'encodage sensibles au contexte</h3>
    <div style="overflow-x: scroll;">
      <table class="bcls-table">
        <caption class="bcls-caption--table">Profils d'encodage sensibles au contexte</caption>
        <thead class="bcls-table__head">
          <tr>
            <th>Nom</th>
            <th>Vidéo<br>Rendus</th>
            <th>Audio<br>Rendus</th>
            <th>HEVC</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="bcls-table__body" id="hevc_profile_summary">
          <tr>
            <td><a href="#low-bandwidth-dynamic">Bande passante limitée (CAE)</a></td>
            <td>2-6</td>
            <td>3</td>
            <td>non</td>
            <td>Offrez une expérience de lecteur optimale aux utilisateurs finaux dans les zones à faible bande passante</td>
          </tr>
          <tr>
            <td><a href="#low-bandwidth-dynamic-with-mp4">Bande passante limitée (CAE) avec MP4</a></td>
            <td>3-7</td>
            <td>3</td>
            <td>non</td>
            <td>Offrez une expérience de lecteur optimale aux utilisateurs finaux dans les zones à faible bande passante et la syndication</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-standard-dynamic">Norme multiplateforme (CAE)</a></td>
            <td>2-6</td>
            <td>3</td>
            <td>non</td>
            <td>Diffusez un large éventail de types de contenu sur une variété de plateformes sur mobile et de bureau</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-standard-dynamic-with-mp4">Standard multiplateforme (CAE) avec MP4</a></td>
            <td>3-7</td>
            <td>3</td>
            <td>non</td>
            <td>Diffusez un large éventail de types de contenu sur une variété de plateformes sur mobile, ordinateur de bureau et de syndication</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-extended-dynamic">Multiplatform Extended (CAE)</a></td>
            <td>2-8</td>
            <td>4</td>
            <td>non</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et</td>
          </tr>
          <tr>
            <td><a href="#ulti-platform-extended-dynamic-with-mp4">Multiplatform Extended (CAE) avec MP4</a></td>
            <td>3-9</td>
            <td>4</td>
            <td>non</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les appareils mobiles, les ordinateurs de bureau, les grands écrans et</td>
          </tr>
          <tr>
            <td><a href="#ulti-platform-extended-dynamic-hevc">HEVC étendu multiplateforme (CAE)</a></td>
            <td>2-8</td>
            <td>2</td>
            <td>HEVC uniquement</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et</td>
          </tr>
          <tr>
            <td><a href="#ulti-platform-extended-dynamic-hevc-with-mp4">HEVC étendu multiplateforme (CAE) avec MP4</a></td>
            <td>3-9</td>
            <td>2</td>
            <td>HEVC + progressif</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et de grande taille, ainsi que</td>
          </tr>
          <tr>
            <td><a href="#multi-platform-extended-dynamic-hevc-mixed-codec">Codec mixte HEVC étendu multiplateforme (CAE)</a></td>
            <td>3-12</td>
            <td>2</td>
            <td>HEVC + H.264</td>
            <td>Diffusez du contenu de haute qualité pour un large éventail de types de contenu et de tailles d'écran, y compris les écrans mobiles, de bureau et</td>
          </tr>
        </tbody>
      </table>
    </div>   </section><script src="https://general.support.brightcove.com/assets/js/shared-content/ingest-profiles/standard-profiles.js"></script><script src="https://general.support.brightcove.com/assets/js/shared-content/ingest-profiles/renditions-dynamic-delivery.js"></script>

  <!-- <script src="/assets/js/ingest-profiles/references/standard-profiles.js"></script>
   <script src="/assets/js/ingest-profiles/references/renditions-dynamic-delivery.js"></script> --> </article>