<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6047967020001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <h3>Étapes</h3>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Analytics. Le rapport de performance s'affiche.</li>
      <li>Pour spécifier la période du rapport, utilisez le sélecteur de date en haut de la page. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-analytics-img/basics/node18848-select-date.png" /></figure>
      </li>
      <li>Sélectionnez cette option pour afficher la<strong> dimension</strong> Performance<strong> par</strong> vidéo. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-analytics-img/basics/node18848-video-dimension.png" /></figure>
      </li>
      <li>Cliquez sur la<strong> colonne Vues de</strong> vidéos pour trier les données. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-analytics-img/basics/node18848-video-views-list.png" /></figure>
      </li>
    </ol>
    <p>Le champ de recherche en haut de la page peut être utilisé pour rechercher une vidéo spécifique.</p>    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-analytics-img/basics/node18848-search.png" /></figure></section></article>