<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="4052428130001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <h3>Étapes</h3>
    <ol class="bcls-tasklist-restart">
      <li>Connectez-vous à {{site.product}}.</li>
      <li>Dans la navigation principale, cliquez sur<strong> Admin,</strong> puis sur Gestion des<strong> utilisateurs</strong>. Notez que vous devez être administrateur de compte pour accéder à la page Administration.</li>
      <li>Cliquez sur<span class="button-blue"> + Ajouter un utilisateur</span>.</li>
      <li>Saisissez l'<strong>adresse e-mail</strong>, le <strong></strong>prénom<strong> et le nom</strong> de famille de l'utilisateur.</li>
      <li>Attribuez un rôle à l'utilisateur:
        <ul>
          <li><strong>Administrateur</strong>: l'utilisateur a accès au menu d'administration</li>
          <li><strong>Standard</strong> - L'utilisateur n'a pas accès au menu d'administration</li>
        </ul>
      </li>
      <li>Sélectionnez les modules auxquels l'utilisateur a accès. La désactivation des modules limite les sections de Studio auxquelles l'utilisateur a accès. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-admin-img/basics/node18850-add-user.png" /></figure>
      </li>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span>.</li>
    </ol>
    <p>L'utilisateur recevra un e-mail indiquant qu'il a été ajouté au compte. Le corps de la page répertorie tous les utilisateurs ayant accès au compte.</p>    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-admin-img/basics/node18850-list-of-users.png" /></figure></section></article>